@{
    ViewBag.Title = "LiveConcertsDB";
    ViewBag.Message = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>You can use this page as way to keep track of all the live concerts that you have 
    attended. Along with tracking the artists themselves, you will also be able to input
    the Venue, Date, and Time of the concert.</p>
